@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,900;1,400;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #191919;
}
section .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e51e2a;
  clip-path: circle(70% at right -20%);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 150px;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
}
header .navigation li a {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox {
  position: relative;
  max-width: 600px;
  margin-right: 20px;
}
.content .textBox h2 {
  color: white;
  font-size: 3em;
  margin-bottom: 10px;
  line-height: 1.4em;
  font-weight: 700;
}
.content .textBox p {
  color: white;
}
.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #e51e2a;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.sci {
  position: absolute;
  bottom: -10%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}
.sci li {
  list-style: none;
  bottom: 50%;
  left: 100px;
}
.sci li a {
  margin-left: 15px;
  background: #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: 0.2 ease-in-out;
  margin-bottom: px;
}
.sci li a:hover {
  background: #e51e2a;
  transform: translateY(-10px);
}

.sci li a img {
  filter: invert(1);
  transform: scale(0.5);
}
/****slider*****/
.imgBox img {
  width: auto;
  height: 480px;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 40px;
}
.slideshow-container {
  position: relative;
  margin: 10px;
}
.dot {
  visibility: hidden;
}

.active {
  background-color: #e51e2a;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

@media (max-width: 991px) {
  header {
    padding: 40px;
  }
  section {
    padding: 150px 40px;
  }
  .sci {
    left: 20px;
    margin-left: 20px;
  }
  .content {
    flex-direction: column;
  }
  .content .textBox {
    max-width: 100%;
  }
  .imgBox img {
    height: 300px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  header .navigation li a {
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: 300;
  }
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 10000;
  }
  .toggle.active {
    position: fixed;
    right: 40px;
    background: url(./images/close.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
} ;
